<div class="bootbox modal" tabindex="-1" role="dialog" style="padding-right: 17px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"><button type="button" class="bootbox-close-button close" data-dismiss="modal"
                    aria-hidden="true" style="margin-top: -10px;">×</button>
                <div class="bootbox-body">
                    <div class="container-fluid text-center">
                        <h4>Notes For Article: {{id}}</h4>
                        <hr>
                        <ul class="list-group note-container">
                            <li class="list-group-item">No notes for this article yet.</li>
                        </ul><textarea id="noteinput" placeholder="New Note" rows="4" cols="60"></textarea><button
                            class="btn btn-success savenote">Save Note</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>